#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

/* Was for moving login/register up on page, but it breaks when flash messages are there */
/* #loginContainer,
#registerContainer {
  margin-top: -2rem !important;
} */
